# Dealing with Missing Values

## Types of missing values

- `.`
- `NA`
- 

## Causes of missing values

## Workflow of dealing with missing values

In [1]:
import os 

os.chdir('projects_on_GitHub/POC/Dealing_with_Missing_Values')

### Example 1: `0` as missing values.

In [26]:
pima_df = pd.read_csv('pima-indians-diabetes data.csv')
pima_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         768 non-null    int64
 1   Pregnant           768 non-null    float64
 2   Glucose            763 non-null    float64
 3   Diastolic_BP       733 non-null    float64
 4   Skin_Fold          541 non-null    float64
 5   Serum_Insulin      394 non-null    float64
 6   BMI                757 non-null    float64
 7   Diabetes_Pedigree  768 non-null    float64
 8   Age                768 non-null    int64
 9   Class              768 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 60.1 KB

In [27]:
pima_df.describe()

,Unnamed: 0,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
count,768.000000,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,383.500000,3.845052,121.686763,72.405184,29.153420,155.548223,31.924439,0.471876,33.240885,0.348958
std,221.846794,3.369578,30.535641,12.382158,10.476982,118.775855,7.840230,0.331329,11.760232,0.476951
min,0.000000,0.000000,44.000000,24.000000,7.000000,14.000000,0.000000,0.078000,21.000000,0.000000
25%,191.750000,1.000000,99.000000,64.000000,22.000000,76.250000,27.300000,0.243750,24.000000,0.000000
50%,383.500000,3.000000,117.000000,72.000000,29.000000,125.000000,32.000000,0.372500,29.000000,0.000000
75%,575.250000,6.000000,141.000000,80.000000,36.000000,190.000000,36.500000,0.626250,41.000000,1.000000
max,767.000000,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

`BMI` 的最小值为0，不符合常识，因此需要将0替换为`np.nan`.

In [28]:
# Find the records whose `BMI` equals to 0
pima_df[pima_df.BMI==0]

,Unnamed: 0,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
78,78,0.0,131.0,NaN,NaN,NaN,0.0,0.270,26,1.0
117,117,5.0,78.0,48.0,NaN,NaN,0.0,0.654,25,0.0
238,238,9.0,164.0,84.0,21.0,NaN,0.0,0.831,32,1.0
252,252,2.0,90.0,80.0,14.0,55.0,0.0,0.249,24,0.0
328,328,2.0,102.0,86.0,36.0,120.0,0.0,0.127,23,1.0
445,445,0.0,180.0,78.0,63.0,14.0,0.0,2.420,25,1.0
493,493,4.0,125.0,70.0,18.0,122.0,0.0,1.144,45,1.0
549,549,4.0,189.0,110.0,31.0,NaN,0.0,0.680,37,0.0
575,575,1.0,119.0,44.0,47.0,63.0,0.0,0.280,25,0.0
726,726,1.0,116.0,78.0,29.0,180.0,0.0,0.496,25,0.0
758,758,1.0,106.0,76.0,NaN,NaN,0.0,0.197,26,0.0

In [29]:
# Replace `0` with `np.nan`
pima_df.loc[pima_df.BMI==0, 'BMI'] = np.nan

In [30]:
# Verify whether there is `0` in `BMI`
pima_df.describe()

,Unnamed: 0,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
count,768.000000,768.000000,763.000000,733.000000,541.000000,394.000000,746.000000,768.000000,768.000000,768.000000
mean,383.500000,3.845052,121.686763,72.405184,29.153420,155.548223,32.395174,0.471876,33.240885,0.348958
std,221.846794,3.369578,30.535641,12.382158,10.476982,118.775855,6.863437,0.331329,11.760232,0.476951
min,0.000000,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,191.750000,1.000000,99.000000,64.000000,22.000000,76.250000,27.425000,0.243750,24.000000,0.000000
50%,383.500000,3.000000,117.000000,72.000000,29.000000,125.000000,32.250000,0.372500,29.000000,0.000000
75%,575.250000,6.000000,141.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,767.000000,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

### Example 2. `.` as missing values